/* ---------- GENERAL ---------- */
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body{
	padding-right: 0px;
	position: absolute;
    height: 100%;
    display: block;
    width: 100%;
    overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #337AB7;
}
a.active{
	background-color: #eee;
	color: #337AB7;
}
#page-wrapper{
	box-shadow: inset 1px 3px 10px rgba(0,0,0,0.3);
	padding: 20px 20px 30px 20px;
}

.nav.background-color{
	background-color: rgba(152, 152, 152, 0.95);
}

.background-color{
	background-color: rgba(152, 152, 152, 0.95);
}

.navbar-header.logo{
  width: 18.6%;
  background-color: #337AB7;
}

.border-header{
	margin-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px;
    border-bottom-color: white;
    border-style: double;
}


.modal-content.new{
	background-color: #777;
	border-radius: 0px;
	border: 0px;
	margin-top: 30%;
	margin-left: 20%;
	box-shadow: 1px solid;
}

.modal-body.new{
	font: 400 20px/1.5em sans-serif;
	color: #ffffff;
}

.modal-title.new{
	color: #ffffff;
}

.close.white{
	color: rgb(255, 255, 255);
	font-size: 27px;
}

.modal-header.border-double{
	border-bottom: 3px double #e5e5e5;
}

.modal-footer.border-double{
	border-top: 3px double #e5e5e5;
}

.modal-dialog.width{
	width: 700px;
}